<div class="card" style="width: 18rem; border:1px solid #000; ">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{bureau.name}}.</p>
    <p class="card-text">{{bureau.numPhone}}.</p>
    <p class="card-text">{{bureau.iconDist}}.</p>
    <p class="card-text">{{bureau.iconLibreService}}.</p>
    <p class="card-text"><b>Adresse:</b></p>
    <p class="card-text">{{bureau.adresse.rue}}.</p>
    <p class="card-text">{{bureau.adresse.codePostal}}.</p>
    <p class="card-text">{{bureau.adresse.ville}}.</p>
  </div>
</div>
